{% extends "liste\base.html" %}
{% block title %}{{block.super}} - Formulaire{% endblock %}
{% block body %}
<div class="page-header">
    <h1>Formulaire
        <a href={% url 'liste.views.home'%}>
           <button type="button" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Retour
            </button>
        </a>
    </h1>
</div>

{% load bootstrap3 %}

<form action="{% url 'liste.views.formulaire' %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    <hr/>
    {% buttons %}
    <button type="submit" class="btn btn-primary">Valider</button>
    {% endbuttons %}
</form>
{% endblock %}
