{% extends "liste\base.html" %}
{% block title %}{{block.super}} - Liste{% endblock %}
{% block body %}
<div class="page-header">
    <h1>Annuaire
        <a href={% url 'liste.views.formulaire'%}>
           <button type="button" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter une entrée
            </button>
        </a>
    </h1>
</div>
<div class="panel-body table-responsive">
    <table class="table table-hover ">
        <thead>
            <tr class="table-striped">
                <th>Prénom</th>
                <th>Nom</th>
                <th>Téléphone</th>
                <th>Email</th>
            </tr></thead>
        <tbody>
            {% for personne in personnes %}
            <tr>
                <td>{{personne.prenom}}</td>
                <td>{{personne.nom}}</td>
                <td>{{personne.phone}}</td>
                <td>{{personne.email}}</td>
            </tr>
            {% empty %}
        <p>Aucune personne.</p>
        {% endfor %}
        </tbody>
    </table> 
</div>
{% endblock %}